VITE_SUI_NETWORK=testnet
VITE_PACKAGE_ID=0x249f3aec1c57f3eafcffbc4298588aaebbd1c5e5c825e4d055aef703447d677f
VITE_MINT_REGISTRY_ID=0xdcb802248e4155e439d06107d7347ce32fa7ac5da1c2563396d4cc6b1b944950
VITE_REGISTRY_OBJECT_ID=0xdcb802248e4155e439d06107d7347ce32fa7ac5da1c2563396d4cc6b1b944950
VITE_RANDOM_OBJECT_ID=0x8
VITE_EVENT_NAME=Miasma Atlas
VITE_IMAGE_URL=ipfs://PASTE_IMAGE_URL_LATER
VITE_ZK_WASM_PATH=
VITE_ZK_ZKEY_PATH=
VITE_ZK_VERIFICATION_KEY_PATH=
NITRO_ATTESTATION_SOURCE_PATH=
NITRO_ATTESTATION_DOCUMENT_PATH=
NITRO_EXPECTED_PCRS_JSON=
